/* ==============Common styles============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* ============/Common styles================ */
/* =========== Page Header styles =========== */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu {
  display: flex;
  column-gap: 40px;
}
.menu-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link:active {
  color: #4d5ae5;
}

.address {
  font-style: normal;
}
.address-item {
  display: flex;
  column-gap: 40px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* =========== /Page Header styles =========== */
/* =========== Hero Section styles =========== */
.hero {
  background: #2e2f42;
}
.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* =========== /Hero Section styles =========== */
/* =========== Benefits Section styles =========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =========== /Benefits Section styles =========== */
/* =========== Our team Section styles =========== */
.team {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.team-photo {
  margin-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}
/* ================= /Our team Section styles =========== */
/* =================Our Portfolio Section styles===========*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  margin-left: 16px;
}
/* =================/Our Portfolio Section styles===========*/
/* =================Footer styles========================== */
.page-footer {
  background-color: #2e2f42;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-part {
  color: #f4f4fd;
}

.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
/* =================/Footer styles========================== */
