/* ==============Common styles============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* ============/Common styles================ */
/* =========== Page Header styles =========== */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link:active {
  color: #4d5ae5;
}

.menu-link-active {
  position: relative;
  color: #404bbf;
}
.menu-link-active::after {
  content: '';
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.address {
  font-style: normal;
}
.address-item {
  display: flex;
  gap: 40px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* =========== /Page Header styles =========== */
/* =========== Hero Section styles =========== */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1440px;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 32px;
  padding-left: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* =========== /Hero Section styles =========== */
/* =========== Benefits Section styles =========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.benefits-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  color: currentColor;
  background: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
/* =========== /Benefits Section styles =========== */
/* =========== Our team Section styles =========== */
.team {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
}

.team-social-link:hover,
.team-social-link:focus,
.team-social-link:active {
  background-color: #404bbf;
}

/* ================= /Our team Section styles =========== */
/* =================Our Portfolio Section styles===========*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}
.portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  text-align: left;
  padding: 40px 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* =================/Our Portfolio Section styles===========*/
/* =================Footer styles========================== */
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.page-footer-logo {
  margin-right: 120px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-part {
  color: #f4f4fd;
}

.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.footer-social-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon {
  fill: #f4f4fd;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #31d0aa;
}
/* =================/Footer styles========================== */
/*===================Backdrop styles========================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.no-scroll {
  overflow: hidden;
}
/* =========== Modal window styles =========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1));
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-btn-icon,
.modal-close-btn:focus > .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-description {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
max-width: 360px;
margin-bottom: 16px;
}
.modal-form-field-wrapper {
  margin-bottom: 8px;
}
.modal-label {
font-size: 12px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.modal-input {
  position: relative;
}
.modal-form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
padding-left: 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {border-color: #4d5ae5;
  outline: transparent;}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left:19px;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-label {
  padding: 8px 16px;
  display: block;
}
.modal-form-message {
width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:focus {
border-color: #4d5ae5;}

.modal-checkbox {
  margin-bottom: 24px;
}
.modal-privacy-checkbox {

}
.modal-checkbox-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.modal-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 24px;
}
.modal-privacy-checkbox:checked + .modal-checkbox-label .modal-own-checkbox {
  background-color: #404bbf;
  fill:  #f4f4fd;
  border-color: #404bbf;
}
.modal-privacy-checkbox:checked + .modal-checkbox-label .modal-own-checkbox {
outline: 2px solid #404bbf;}

.privacy-policy-link {
line-height: 1.33;
text-decoration: underline;
color: #4d5ae5;
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
height: 56px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #fff;
 padding: 32px 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover, .modal-submit-btn:focus
{background-color: #404bbf;}
/*==================/Backdrop styles========================= */
